<div class="navigation-wrapper">

	<div id='parent'>
		<div id="page-title"><a id="Home" class="navia" href="/">§<span id="title-kim">kim</span></a></div>
		<div class="navlist-wrap">
			<ul id="navlist">
				{% for link in site.links %}
				<li>
					{% if link.external %}
						<a href="{{ link.url }}">{{ link.title }}</a>
					{% elsif link.title == "Teaching" %}
						<a id="{{ link.title }}" class="navia" href="{{ site.url }}{{ link.url }}">teaching+</a>
					{% else %}
						<a id="{{ link.title }}" class="navia" href="{{ site.url }}{{ link.url }}">{{ link.title }}</a>
					{% endif %} 
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>​
	
</div><!-- /.navigation-wrapper -->

{% include browser-upgrade.html %}